**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.secret
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.auto.tfvars

# Secrets / variable files (high risk)
terraform.tfvars
**/terraform.tfvars
*.tfvars
*.tfvars.json

# Optional: keep only example templates
!*.tfvars.example
!*.tfvars.json.example